@import "../general/variables";

.preview {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;

  &__slider-wrapper {
    width: 100%;
    height: fit-content;
    padding: 0;
    overflow: hidden;

    .slider__item {
      width: 100%;
      height: 100vh;
      min-height: 600px;
      object-fit: cover;
      overflow: hidden;
    }
  }

  .container {
    width: 100%;
    max-width: 1200px;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
  }

  .section__title {
    color: $white;
    margin-bottom: 58px;
  }

  .section__button {
    background: $blue;
    color: $white;
  }

  &__slider {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60px;
    justify-content: space-between;

    &-item {
      width: fit-content;
      height: fit-content;
      background-color: $yellow;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2px;
      min-width: 10px;
      min-height: 10px;

      &-inner {
        width: 10px;
        height: 10px;
        background-color: $blue;
        border-radius: 50%;
      }
    }
  }
}

@media (max-width: 960px) {

  .preview{

    .section__title {
      margin-bottom: 30px;
    }
  }

}

@media (max-width: 590px) {

  .preview{

    .container {
      width: 100%;
      padding: 0 15px;
    }

    .section__title {
      margin-bottom: 25px;
    }
  }
}

@media (max-width: 420px) {

  .preview{

    .section__title {
      margin-bottom: 25px;
    }
  }
}