$yellow: #FBB900;
$blue: #0E4194;
$white: #FFF;

$extra-large-fz: 6rem;
$large-fz: 5.333rem;
$extra-big-fz: 4rem;
$big-fz: 3rem;
$medium-fz: 2rem;
$bigger-small-fz: 1.667rem;
$small-fz: 1.5rem;
$extra-small-fz: 1.167rem;

$bold-fw: 700;
$semi-fz: 600;
$medium-fw: 500;
$regular-fw: 400;